.root_paper {
    position: fixed;
    padding: 10px 15px 0 15px;
    border-radius: 0;
    height: 100vh;
    top: 0;
    z-index: 9;
    overflow-y: auto;
}

.edit_location{
    margin-bottom: 10px;
}

.view_location {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.edit_country_date{
    display: flex;
    justify-content: center;
}

.view_country_date {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.edit_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.edit_tags {
    margin-top: 10px;
    --tag-pad: 0.1em;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    padding: 2px;
}

.view_tags{
    display: flex;
    justify-content: center;
}

.view_tag {
    display: inline-block;
    padding: 3px;
    margin-right: 4px;
    border-radius: 5px;
    background-color: #eaeaea;
    font-weight: bold;
    font-size: 11px;
}

.journeyView_imageBox {
    margin-top: 20px;
}

.view_tool {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 60px;
    padding: 5px 10px 5px 0;
    gap: 20px;
}
.edit_tool{
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 60px;
    padding: 5px 10px 5px 0;
    gap: 20px;
}
.add_icon{
    height: 30px;
    cursor: pointer;
    margin-left: auto;
}
.save_icon{
    height: 30px;
    cursor: pointer;
}
.arrow_icon_btn{
    cursor: pointer;
    margin-right: auto;
}
.edit_icon{
    height: 30px;
    cursor: pointer;
    margin-left: auto;
}
.edit_icon:hover {
    fill: #c2c2c2;
    transition: fill 0.3s ease;
}
.view_photo {
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    cursor: pointer;
}
.no_picture {
    display: flex;
    margin-top: 30%;
    justify-content: center;
}

.saving_icon{
    top: 50%;
    left: 44%;
    margin: 0 auto;
    position: absolute;
}