.root_paper {
    position: fixed;
    border-radius: 0;
    height: 100vh;
    top: 0;
    z-index: 9;
    overflow: auto;
}

.travel_title {
    margin-top: 10px;
    margin-bottom: 60px;
}

.journey_add_box {
    margin: 30px auto 0;
    border-radius: 10px;
    height: 225px; /*4:3 비율*/
    width: 300px; /*4:3 비율*/
    background-color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}