.root_paper {
    position: fixed;
    padding: 10px 15px 0 15px;
    border-radius: 0;
    height: 100vh;
    top: 0;
    z-index: 9;
    overflow-y: auto;
}

.journey_title {
    display: flex;
    justify-content: center;
    margin: 5px 0 5px 0;
}

.journey_date {
    display: flex;
    justify-content: center;
}

.journey_tags {
    display: flex;
    justify-content: center;
}

.journey_tag {
    display: inline-block;
    padding: 2px;
    margin-right: 4px;
    border-radius: 7px;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    font-size: 12px;
}

.journeyView_imageBox {
    margin-top: 20px;
}

.journey_tool {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 5px 10px 5px 0;
    gap: 20px;
}
.arrow_icon_btn{
    cursor: pointer;
    margin-right: auto;
}
.edit_icon{
    height: 30px;
    cursor: pointer;
    margin-left: auto;
}
.edit_icon:hover {
    fill: #c2c2c2;
    transition: fill 0.3s ease;
}
.journey_image {
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    cursor: pointer;
}


/*--------------------------------------*/
/*수정 CSS*/
.journeyView_location {
    margin: 0 auto;
}

.journeyView_tags {
    --tag-pad: 0.1em;
    --tag-inset-shadow-size: 2em;
    font-size: 5px;
    width: 100%;
    max-width: 300px;
    border: 0;
    border-bottom: 1px solid black;
}

.journeyView_add_picture {
    height: 180px;
    margin: 25px 25px 5px;
    border-radius: 5px;
    background-color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
}