.preview_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 225px; /*4:3 비율*/
    width: 300px; /*4:3 비율*/
    background-color: #eeeeee;
    overflow: hidden;
}

.preview {
    display: contents;
}

.journey_info {
    display: flex;
    position: absolute;
    bottom: 7px;
    opacity: 0.9;
}

.root_container {
    margin-top: 30px;
}

.journey_tags {
    display: inline-block;
    padding: 4px;
    margin-right: 4px;
    border-radius: 7px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 13px;
    font-weight: bold;
}

