.root_paper {
    position: fixed;
    padding: 10px 20px 0 20px;
    border-radius: 0;
    height: 100vh;
    top: 0;
    z-index: 9;
    overflow-y: auto;
}

.travel_title_group {
    margin-top: 20px;
}

.journeys_tool {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 60px;
    padding: 5px 10px 5px 0;
    gap: 20px;
}

.add_icon{
    cursor: pointer;
}
.edit_icon{
    height: 30px;
    cursor: pointer;
}
.del_icon{
    cursor: pointer;
}

/* Hover styles for each element */
.edit_icon:hover {
    fill: #36afb4;
    transition: fill 0.3s ease;
}

.add_icon:hover,
.edit_icon:hover {
    color: #36afb4;
    transition: color 0.3s ease;
}
.del_icon:hover {
    color: #f61245;
    transition: color 0.3s ease;
}

.main_preview {
    margin-top: 10px;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    background-color: #c2c2c2;
}

.no_journey_title{
    display: flex;
    margin-top: 30%;
    justify-content: center;
}