.root_paper {
    position: fixed;
    padding: 10px 15px 0 15px;
    border-radius: 0;
    height: 100vh;
    top: 0;
    z-index: 9;
    overflow-y: auto;
}

.newJourney_box {

}

.journey_title_group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.newJourney_title {
    width: 100%;
    font-size: 16px;
}

.newJourney_location {
}

.newJourney_date {
    margin-top: 7px;
    text-decoration: underline;
    cursor: pointer;
}

.newJourney_tags {
    margin-top: 12px;
}

.newJourney_tag {
    --tag-pad: 0.1em;
    font-size: 12px;
    width: 100%;
}

.newJourney_add_picture {
    background-color: rgba(0, 0, 0, 0);
    border:  rgba(0, 0, 0, 0);
}

.newJourney_add_picture:hover {
    background-color: rgba(0, 0, 0, 0);
}

.newJourney_imageBox {
    margin-top: 20px;
}

.newJourney_tool {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 60px;
    padding: 5px 10px 5px 0;
    gap: 20px;
}

.arrow_icon_btn {
    cursor: pointer;
    margin-right: auto;
}

.add_icon {
    height: 30px;
    cursor: pointer;
    margin-left: auto;
}

.add_icon:hover {
    color: #36afb4;
    transition: color 0.3s ease;
}