.root_box {
    margin-bottom: 15px;
}

.travel_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cecece;
    position: relative;
    aspect-ratio: 16 / 10;
    margin: 10px 0 5px 0;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.travel_info {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.8;
}

.journey_cnt_chip{
    background-color: #343434;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.journey_photo_chip{
    background-color: #343434;
    border-radius: 8px;
    color: white;
    margin-left: 2px;
    cursor: pointer;
}
