.root_paper {
    position: fixed;
    padding: 10px 25px 0 25px;
    border-radius: 0;
    height: 100vh;
    top: 0;
    z-index: 9;
    overflow-y: auto;
}

.sidebar_list_div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.travel_box{
    display: flex;
    height: 130px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #b4dede;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_title_box{
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: grey;
}

.dnd_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
}
