:root {
    --arrow-back-width: 24px; /* 특정 div의 width 값 */
}

.journeyView_title_group {
    display: flex;
    align-items: center;
}

.journeyView_title {
    display: flex;
    align-items: center;
    width: 280px;
    height: 40px;
}

.journeyView_date {
    margin-left: var(--arrow-back-width);
}

.journeyView_tag_div {
    margin-left: var(--arrow-back-width);
}

.journeyView_tag {
    align-items: center;
    display: inline-block;
    padding: 2px;
    margin-right: 4px;
    border-radius: 7px;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    font-size: 5px;
}

.journeyView_edit{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.journeyView_imageBox {
    margin-top: 20px;
}



/*--------------------------------------*/
/*수정 CSS*/
.journeyView_location {
    margin: 0 auto;
}

.journeyView_tags {
    --tag-pad: 0.1em;
    --tag-inset-shadow-size: 2em;
    font-size: 5px;
    width: 100%;
    max-width: 300px;
    border: 0;
    border-bottom: 1px solid black;
}

.journeyView_add_picture {
    height: 180px;
    margin: 25px 25px 5px;
    border-radius: 5px;
    background-color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
}