.journeyList-box {
    height: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.journeyList-title {
    margin-top: 10px;
    margin-bottom: 60px;
}

.journeyList-add-box {
    margin: 30px auto 0;
    border-radius: 10px;
    height: 225px; /*4:3 비율*/
    width: 300px; /*4:3 비율*/
    background-color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}