.root_paper{
    position: fixed;
    border-radius: 0;
    height: 100vh;
    top: 0;
    z-index: 9;
    overflow: auto;
}

.newJourney_box {
    margin: 10px auto 0;
}

.newJourney_arrowBack {
    display: flex;
    align-items: center;
}

.newJourney_title {
    width: 250px;
    height: 40px;
    font-size: 14px;
}

.newJourney_location {
    margin: 0 auto;
}

.newJourney_date {
    margin-left: 25px;
    margin-top: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.newJourney_tags {
    --tag-pad: 0.1em;
    --tag-inset-shadow-size: 2em;
    font-size: 5px;
    margin-left: 25px;
    width: 100%;
    max-width: 300px;
    border: 0;
    border-bottom: 1px solid black;
}

.newJourney_add_picture {
    height: 180px;
    margin: 25px 25px 5px;
    border-radius: 5px;
    background-color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newJourney_imageBox {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}
