.root_box {
    margin-bottom: 15px;
}

.travel_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cecece;
    position: relative;
    height: 200px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    overflow: hidden;
}

.travel_info {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.9;
}